<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Character List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="myController">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 characters-container">
        <h1>Character List</h1>
        <ul class="list-group">
          <li ng-repeat="character in characters" ng-click="selectCharacter(character)"
            ng-class="{ 'active': selectedCharacter === character }" class="list-group-item">{{ character.name }}</li>
        </ul>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 dialogue-container">
        <h1>Dialogue</h1>
        <div class="dialogue">
          <div class="message" ng-repeat="message in selectedCharacter.dialogue">
            <div class="sender" ng-class="{ 'user': message.sender_type === 'user' }">{{ message.sender_type }}</div>
            <div class="content">{{ message.content }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
